# Logistics Pipes Rerouted Changelog

{{#tags}}
## {{name}}
{{#commits}}
* [{{{messageTitle}}}](https://github.com/Edivad99/Logistics-Pipes-Rerouted/commit/{{hashFull}}) - {{{authorName}}}
{{/commits}}
{{/tags}}
